Repository Pocket/content-monorepo, pull requests merged in 2025-02, with the labels that each got.

#264 MC-1621: adding corpus API public query getSections
  servers/curated-corpus-api/schema-admin.graphql
  servers/curated-corpus-api/schema-public.graphql
  servers/curated-corpus-api/schema-shared.graphql
  servers/curated-corpus-api/src/admin/resolvers/fragments.gql.ts
  servers/curated-corpus-api/src/admin/resolvers/index.ts
  servers/curated-corpus-api/src/admin/resolvers/mutations/ScheduledItem/createScheduledItem.integration.ts
  servers/curated-corpus-api/src/admin/resolvers/mutations/ScheduledItem/deleteScheduledItem.integration.ts
  servers/curated-corpus-api/src/admin/resolvers/mutations/ScheduledItem/rescheduleScheduledItem.integration.ts
  servers/curated-corpus-api/src/admin/resolvers/mutations/sample-mutations.gql.ts
  servers/curated-corpus-api/src/admin/resolvers/queries/sample-queries.gql.ts
  servers/curated-corpus-api/src/public/resolvers/fragments.gql.ts
  servers/curated-corpus-api/src/public/resolvers/index.ts
  servers/curated-corpus-api/src/public/resolvers/queries/Section.integration.ts
  servers/curated-corpus-api/src/public/resolvers/queries/Section.ts
  servers/curated-corpus-api/src/public/resolvers/queries/sample-queries.gql.ts
  servers/curated-corpus-api/src/shared/fragments.gql.ts
  servers/curated-corpus-api/src/shared/resolvers/fields/UnixTimestamp.ts
Labels: curated-corpus-api-cdk-production/no-changes

#265 MC-1646: replace ScheduleItemSource enum with ActivitySource enum
  lambdas/corpus-scheduler-lambda/src/testHelpers.ts
  lambdas/corpus-scheduler-lambda/src/utils.ts
  packages/content-common/src/types.ts
  servers/curated-corpus-api/schema-admin.graphql
  servers/curated-corpus-api/src/admin/resolvers/mutations/ApprovedItem/createApprovedCorpusItem.integration.ts
  servers/curated-corpus-api/src/admin/resolvers/mutations/ScheduledItem/createScheduledItem.integration.ts
  servers/curated-corpus-api/src/admin/resolvers/mutations/ScheduledItem/index.ts
  servers/curated-corpus-api/src/admin/resolvers/mutations/ScheduledItem/rescheduleScheduledItem.integration.ts
  servers/curated-corpus-api/src/admin/resolvers/queries/ScheduledItem/getScheduledCorpusItems.integration.ts
  servers/curated-corpus-api/src/admin/resolvers/types.ts
  servers/curated-corpus-api/src/database/types.ts
  servers/curated-corpus-api/src/events/curatedCorpusEventEmitter.spec.ts
  servers/curated-corpus-api/src/events/eventBus/EventBusHandler.spec.ts
  servers/curated-corpus-api/src/events/snowplow/ScheduledItemSnowplowHandler.integration.ts
  servers/curated-corpus-api/src/events/snowplow/schema.ts
  servers/curated-corpus-api/src/events/types.ts
  servers/curated-corpus-api/src/test/helpers/createScheduledItemHelper.ts
Labels: prospect-api-cdk-production/add-or-update, curated-corpus-api-cdk-production/no-changes, collection-api-cdk-production/no-changes, section-manager-lambda-cdk-production/no-changes

#267 Revert "MC-1646: replace ScheduleItemSource enum with ActivitySource enum"
  lambdas/corpus-scheduler-lambda/src/testHelpers.ts
  lambdas/corpus-scheduler-lambda/src/utils.ts
  packages/content-common/src/types.ts
  servers/curated-corpus-api/schema-admin.graphql
  servers/curated-corpus-api/src/admin/resolvers/mutations/ApprovedItem/createApprovedCorpusItem.integration.ts
  servers/curated-corpus-api/src/admin/resolvers/mutations/ScheduledItem/createScheduledItem.integration.ts
  servers/curated-corpus-api/src/admin/resolvers/mutations/ScheduledItem/index.ts
  servers/curated-corpus-api/src/admin/resolvers/mutations/ScheduledItem/rescheduleScheduledItem.integration.ts
  servers/curated-corpus-api/src/admin/resolvers/queries/ScheduledItem/getScheduledCorpusItems.integration.ts
  servers/curated-corpus-api/src/admin/resolvers/types.ts
  servers/curated-corpus-api/src/database/types.ts
  servers/curated-corpus-api/src/events/curatedCorpusEventEmitter.spec.ts
  servers/curated-corpus-api/src/events/eventBus/EventBusHandler.spec.ts
  servers/curated-corpus-api/src/events/snowplow/ScheduledItemSnowplowHandler.integration.ts
  servers/curated-corpus-api/src/events/snowplow/schema.ts
  servers/curated-corpus-api/src/events/types.ts
  servers/curated-corpus-api/src/test/helpers/createScheduledItemHelper.ts
Labels: prospect-api-cdk-production/add-or-update, curated-corpus-api-cdk-production/no-changes, collection-api-cdk-production/no-changes, section-manager-lambda-cdk-production/no-changes

#266 feat: add data validation to section manager lambda
  lambdas/corpus-scheduler-lambda/package.json
  lambdas/corpus-scheduler-lambda/src/index.integration.ts
  lambdas/corpus-scheduler-lambda/src/index.ts
  lambdas/corpus-scheduler-lambda/src/jwt.ts
  lambdas/corpus-scheduler-lambda/src/testHelpers.ts
  lambdas/corpus-scheduler-lambda/src/types.ts
  lambdas/corpus-scheduler-lambda/src/utils.spec.ts
  lambdas/corpus-scheduler-lambda/src/utils.ts
  lambdas/corpus-scheduler-lambda/src/validation.spec.ts
  lambdas/corpus-scheduler-lambda/src/validation.ts
  lambdas/section-manager-lambda/package.json
  lambdas/section-manager-lambda/src/config.ts
  lambdas/section-manager-lambda/src/graphQlApiCalls.ts
  lambdas/section-manager-lambda/src/index.ts
  lambdas/section-manager-lambda/src/jwt.ts
  lambdas/section-manager-lambda/src/testHelpers.ts
  lambdas/section-manager-lambda/src/types.ts
  lambdas/section-manager-lambda/src/utils.spec.ts
  lambdas/section-manager-lambda/src/validators.spec.ts
  lambdas/section-manager-lambda/src/validators.ts
  lambdas/section-manager-lambda/tsconfig.json
  packages/lambda-common/.eslintrc.js
  packages/lambda-common/jest.config.js
  packages/lambda-common/package.json
  packages/lambda-common/src/config.ts
  packages/lambda-common/src/constants.ts
  packages/lambda-common/src/index.ts
  packages/lambda-common/src/jwt.spec.ts
  packages/lambda-common/src/jwt.ts
  packages/lambda-common/src/testHelpers.ts
  packages/lambda-common/src/types.ts
  packages/lambda-common/src/validators.spec.ts
  packages/lambda-common/src/validators.ts
  packages/lambda-common/tsconfig.json
  pnpm-lock.yaml
Labels: prospect-api-cdk-production/add-or-update, curated-corpus-api-cdk-production/no-changes, collection-api-cdk-production/no-changes, section-manager-lambda-cdk-production/no-changes

#269 (chore)MC-1646: refactoring enum
  lambdas/corpus-scheduler-lambda/src/testHelpers.ts
  lambdas/corpus-scheduler-lambda/src/utils.ts
  packages/content-common/src/types.ts
  servers/curated-corpus-api/schema-admin.graphql
  servers/curated-corpus-api/src/admin/resolvers/mutations/ApprovedItem/createApprovedCorpusItem.integration.ts
  servers/curated-corpus-api/src/admin/resolvers/mutations/ScheduledItem/createScheduledItem.integration.ts
  servers/curated-corpus-api/src/admin/resolvers/mutations/ScheduledItem/index.ts
  servers/curated-corpus-api/src/admin/resolvers/mutations/ScheduledItem/rescheduleScheduledItem.integration.ts
  servers/curated-corpus-api/src/admin/resolvers/queries/ScheduledItem/getScheduledCorpusItems.integration.ts
  servers/curated-corpus-api/src/admin/resolvers/types.ts
  servers/curated-corpus-api/src/database/types.ts
  servers/curated-corpus-api/src/events/curatedCorpusEventEmitter.spec.ts
  servers/curated-corpus-api/src/events/eventBus/EventBusHandler.spec.ts
  servers/curated-corpus-api/src/events/snowplow/ScheduledItemSnowplowHandler.integration.ts
  servers/curated-corpus-api/src/events/snowplow/schema.ts
  servers/curated-corpus-api/src/events/types.ts
  servers/curated-corpus-api/src/test/helpers/createScheduledItemHelper.ts
Labels: prospect-api-cdk-production/add-or-update, curated-corpus-api-cdk-production/no-changes, collection-api-cdk-production/no-changes, section-manager-lambda-cdk-production/no-changes

#271 chore: add JWT to section manager lambda infra
  infrastructure/section-manager-lambda/src/sectionManagerLambda.ts
Labels: section-manager-lambda-cdk-production/no-changes

#272 feat: delete associated SectionItems when deleting the parent ApprovedItem
  servers/curated-corpus-api/schema-admin.graphql
  servers/curated-corpus-api/src/admin/resolvers/mutations/ApprovedItem/index.ts
  servers/curated-corpus-api/src/database/mutations/ApprovedItem.integration.ts
  servers/curated-corpus-api/src/database/mutations/ApprovedItem.ts
  servers/curated-corpus-api/src/database/mutations/SectionItem.integration.ts
  servers/curated-corpus-api/src/database/mutations/SectionItem.ts
Labels: curated-corpus-api-cdk-production/no-changes

#273 feat: section manager lambda - create section items
  .github/workflows/section-manager-lambda.yml
  lambdas/corpus-scheduler-lambda/src/types.ts
  lambdas/section-manager-lambda/package.json
  lambdas/section-manager-lambda/src/graphQlApiCalls.ts
  lambdas/section-manager-lambda/src/index.integration.ts
  lambdas/section-manager-lambda/src/index.spec.ts
  lambdas/section-manager-lambda/src/index.ts
  lambdas/section-manager-lambda/src/types.ts
  lambdas/section-manager-lambda/src/utils.spec.ts
  lambdas/section-manager-lambda/src/utils.ts
  lambdas/section-manager-lambda/src/validators.spec.ts
Labels: prospect-api-cdk-production/add-or-update, curated-corpus-api-cdk-production/no-changes, collection-api-cdk-production/no-changes, section-manager-lambda-cdk-production/no-changes

#274 MC-1671: adding Sections to ActionScreen enum
  packages/content-common/src/types.ts
  servers/curated-corpus-api/schema-admin.graphql
  servers/curated-corpus-api/src/config/index.ts
Labels: prospect-api-cdk-production/add-or-update, curated-corpus-api-cdk-production/no-changes, collection-api-cdk-production/no-changes, section-manager-lambda-cdk-production/no-changes
