Repository Pocket/content-monorepo, pull requests merged in 2025-03, with the labels that each got.

#275 New intl prospect sources
  packages/content-common/src/types.ts
Labels: prospect-api-cdk-production/add-or-update, curated-corpus-api-cdk-production/no-changes, collection-api-cdk-production/no-changes, section-manager-lambda-cdk-production/no-changes

#276 refactor: type validation in corpus scheduler and section manager lambdas
  lambdas/corpus-scheduler-lambda/src/types.ts
  lambdas/corpus-scheduler-lambda/src/utils.spec.ts
  lambdas/corpus-scheduler-lambda/src/validation.spec.ts
  lambdas/section-manager-lambda/src/types.ts
  lambdas/section-manager-lambda/src/utils.spec.ts
  lambdas/section-manager-lambda/src/validators.spec.ts
Labels: section-manager-lambda-cdk-production/no-changes

#278 MC-1677: adding disabled boolean field to Section DB model
  servers/curated-corpus-api/prisma/migrations/20250305203859_add_disabled_to_section/migration.sql
  servers/curated-corpus-api/prisma/schema.prisma
Labels: curated-corpus-api-cdk-production/no-changes

#280 chore: remove grade functionality from approved corpus items
  packages/content-common/src/types.ts
  servers/curated-corpus-api/prisma/migrations/20250306184108_remove_grade_from_approved_item/migration.sql
  servers/curated-corpus-api/prisma/schema.prisma
  servers/curated-corpus-api/schema-admin.graphql
  servers/curated-corpus-api/schema-public.graphql
  servers/curated-corpus-api/schema-shared.graphql
  servers/curated-corpus-api/src/admin/resolvers/index.ts
  servers/curated-corpus-api/src/admin/resolvers/mutations/ApprovedItem/createApprovedCorpusItem.integration.ts
  servers/curated-corpus-api/src/admin/resolvers/mutations/ApprovedItem/index.ts
  servers/curated-corpus-api/src/admin/resolvers/mutations/ApprovedItem/updateApprovedCorpusItem.integration.ts
  servers/curated-corpus-api/src/admin/resolvers/mutations/ApprovedItem/updateApprovedCorpusItemGrade.integration.ts
  servers/curated-corpus-api/src/admin/resolvers/mutations/sample-mutations.gql.ts
  servers/curated-corpus-api/src/admin/resolvers/types.ts
  servers/curated-corpus-api/src/database/mutations/ApprovedItem.integration.ts
  servers/curated-corpus-api/src/database/types.ts
  servers/curated-corpus-api/src/events/curatedCorpusEventEmitter.spec.ts
  servers/curated-corpus-api/src/events/eventBus/EventBusConfig.ts
  servers/curated-corpus-api/src/events/eventBus/EventBusHandler.spec.ts
  servers/curated-corpus-api/src/events/snowplow/ReviewedItemSnowplowHandler.integration.ts
  servers/curated-corpus-api/src/events/snowplow/ScheduledItemSnowplowHandler.integration.ts
  servers/curated-corpus-api/src/public/resolvers/queries/ScheduledSurfaceItem.integration.ts
  servers/curated-corpus-api/src/public/resolvers/queries/sample-queries.gql.ts
  servers/curated-corpus-api/src/shared/fragments.gql.ts
  servers/curated-corpus-api/src/shared/utils.spec.ts
  servers/curated-corpus-api/src/shared/utils.ts
  servers/curated-corpus-api/src/test/helpers/createApprovedItemHelper.ts
Labels: prospect-api-cdk-production/add-or-update, curated-corpus-api-cdk-production/no-changes, collection-api-cdk-production/no-changes, section-manager-lambda-cdk-production/no-changes

#279 MC-1678: return disabled field on Section queries & return active+enabled Sections for public getSections query
  servers/curated-corpus-api/schema-admin.graphql
  servers/curated-corpus-api/schema-public.graphql
  servers/curated-corpus-api/src/admin/resolvers/fragments.gql.ts
  servers/curated-corpus-api/src/admin/resolvers/queries/Section/getSectionWithSectionItems.integration.ts
  servers/curated-corpus-api/src/admin/resolvers/queries/Section/index.ts
  servers/curated-corpus-api/src/database/queries/Section.integration.ts
  servers/curated-corpus-api/src/database/queries/Section.ts
  servers/curated-corpus-api/src/public/resolvers/queries/Section.integration.ts
  servers/curated-corpus-api/src/public/resolvers/queries/Section.ts
  servers/curated-corpus-api/src/test/helpers/createSectionHelper.ts
Labels: curated-corpus-api-cdk-production/no-changes

#281 MC-1679: adding disable & enable Section mutation
  packages/content-common/src/types.ts
  servers/curated-corpus-api/schema-admin.graphql
  servers/curated-corpus-api/src/admin/resolvers/index.ts
  servers/curated-corpus-api/src/admin/resolvers/mutations/Section/disableEnableSection.integration.ts
  servers/curated-corpus-api/src/admin/resolvers/mutations/Section/index.ts
  servers/curated-corpus-api/src/admin/resolvers/mutations/sample-mutations.gql.ts
  servers/curated-corpus-api/src/database/mutations/Section.integration.ts
  servers/curated-corpus-api/src/database/mutations/Section.ts
  servers/curated-corpus-api/src/database/mutations/index.ts
  servers/curated-corpus-api/src/database/types.ts
Labels: prospect-api-cdk-production/add-or-update, curated-corpus-api-cdk-production/no-changes, collection-api-cdk-production/no-changes, section-manager-lambda-cdk-production/no-changes

#282 [MC-1682] fix: capitalization after curly apostrophe
  packages/content-common/src/index.spec.ts
  packages/content-common/src/index.ts
Labels: prospect-api-cdk-production/add-or-update, curated-corpus-api-cdk-production/no-changes, collection-api-cdk-production/no-changes, section-manager-lambda-cdk-production/no-changes
